<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" type="text/css" href="/css/style.css">
</head>
<body>
  <h1>Shopping List</h1>
  <ul>
    <!-- Display the user's shopping list items here -->
  </ul>
  <form action="/add-item" method="post">
    <input type="text" name="item" placeholder="Add an item">
    <button type="submit">Add</button>
  </form>
  <form action="/remove-item" method="post">
    <input type="text" name="item" placeholder="Remove an item">
    <button type="submit">Remove</button>
  </form>
</body>
</html>
